---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% for category in site.publication_category %}
  {% assign posts_in_category = site.publications | where: "category", category[0] %}

  {% if posts_in_category.size > 0 %}
    <h2>{{ category[1].title }}</h2>

    <ul class="pub-list">
      {% for post in posts_in_category reversed %}
        <li class="pub-item">
          {% include archive-single-cv.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}



